@import 'normalize';
@import 'settings';
@import 'utils';


body {
   background-color: $white;
   color: $black;
   font-family: $base-font;
   @include fontSize($font-size);
   display: grid;
   grid-template-rows: auto 1fr 100px;
   grid-gap: 0;
   grid-template-areas:
    "header"
    "content"
    "footer";
}

header {
    grid-area: header;
}

.content {
    grid-area: content;
}

footer {
    grid-area: footer;
}

h1 {
    margin: .7rem;
}

h2 {
    margin: .5rem;
}

a {
    color: $blue;
    text-decoration: none;
}