@import 'utils';

// colors

$white: #FFFEFE;
$grey: #eeeeee;
$grey-text: #8f8f8f;
$orange: #FFAB60;
$yellow: #FFD784;
$green: #70D87D;
$blue: #62B4BC;

// font family

$base-font: 'Open Sans', sans-serif;
$title-font: 'Source Sans Pro', sans-serif;

// font sizes

$font-size-xxxl: 44;
$font-size-xxl: 32;
$font-size-xl: 26;
$font-size-l: 22;
$font-size: 18;
$font-size-xs: 14;
$font-size-xxs: 10;

// Breakpoints

$breakpoint-tablet-portrait: 600px;
$breakpoint-tablet-landscape: 900px;
$breakpoint-desktop: 1200px;
