@import '~styles/settings.scss';
@import '~styles/utils.scss';

header {
    background-color: $grey;
    padding-bottom: 10px;
    .title {
        color: $orange;
        text-align: center;
        @include fontSize($font-size-xxxl);
        font-family: $title-font;
    }
}